<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-12">
      <div class="panel panel-default">

        <div class="panel-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col ms-6 col-sm-6">
                <div class="form-group">
                  <label>Select Gender</label>
                  <div class="gender text-capitalize">
                    <label *ngFor="let gender of genders">
                      <input type="radio" [value]="gender" formControlName="gender"
                        [ngClass]="{'is-invalid': submitted && f.gender.errors }">{{gender}}
                    </label>
                  </div>
                  <div *ngIf="submitted && f.gender.errors" class="invalid-input">
                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>
            </div>
         
            <div class="form-group form-check">
              <input type="checkbox" name="checkbox" formControlName="checkbox"
                [ngClass]="{ 'is-invalid': submitted && f.checkbox.errors }">&nbsp;terms & condition
              <div *ngIf="submitted && f.checkbox.errors" class="invalid-input">
                <div *ngIf="f.checkbox.errors.required">Please accept terms & condition</div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>

    <!-- display data in table format -->
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th *ngFor="let keyheader of finalarraykeys;let i=index;">
            {{keyheader}}
          </th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let submittedValue of finalarrayvalues;let i=index;">
            <span>{{submittedValue}}
            </span>

          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>